footer {
	font-family: Helvetica, Arial, sans-serif;
	&>div {
		display: none;
		flex-direction: column;
		padding-bottom: 1em;
		background: #222;
		border: 1px solid silver;
		width: max-content;
		max-height: calc(94vh - 2.5em);
		max-width: 50vw;
		min-width: 520px;
		margin: auto;
		overflow: auto;
		position: fixed;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 0 100vmax rgba(0,0,0,0.8);
		button {
			position: absolute;
			right: 0;
			width: min-content;
		}
	}
	&.open>div {
		display: flex;
	}
}


h3 {
	position: fixed;
	right: 0.5em;
	bottom: 0;
	margin: 0 0 0.5em;
	padding: 0.25em;
	background-color: #444;
	border: 1px solid silver;
	text-align: center;
	cursor: pointer;
}
h4 {
	margin: 0.5em 0 0;
	padding-left: 0.5em;
}
ul + h4 {
	margin-top: 1em
}
label {
	margin-left: -1.25em;
	white-space: nowrap;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 1em;
	li {
		display: grid;
		grid-template-columns: 5em 1fr;
		margin: 0.5em 0 0 1.5em;
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			li {
				margin: 0 1em;
			}
		}
	}
}
ul.promos>li {
	grid-template-columns: 1fr;
}
