<header>
	<button (click)="randomize()">Randomize</button>
</header>
<dom-card-list (selectCard)="selectCard($event)" (swapCard)="swapCard($event)" (generateMarket)="generateMarketDeck($event)" [kingdom]="kingdom" [setup]="setup" [selectedCard]="selectedCard"></dom-card-list>
<dom-options (changeSets)="changeSets($event)" (changePromos)="changePromos($event)" (changeOptions)="changeOpts($event)"></dom-options>

<section class="market" *ngIf="setup.market">
	<header style="background: transparent url('assets/cards/Promo/Market.jpg') center/contain no-repeat">
		<div *ngIf="marketState === 1">
			<p>
				<input type="range" [(ngModel)]="marketSize" min="15" max="{{ marketMax }}"><br>
				<span>{{ marketSize }} Cards</span>
			</p>
			<button (click)="generateMarketDeck(marketSize)">Create</button>
		</div>
		<div *ngIf="marketState === 2">
			<button (click)="shuffleMarket()">Shuffle</button>
		</div>
		<div *ngIf="marketState === 3">
			<button (click)="drawMarket()">Draw {{ market.cards.length > 2 ? '3' : market.cards.length }}</button>
		</div>
		<div *ngIf="marketState === 4 || marketState === 5">
			<p><span *ngIf="marketState === 4">Select one to buy</span></p>
			<button (click)="closeMarket()">Put {{ marketDraw.cards.length }} cards back</button>
		</div>
	</header>
	<p>Black Market Deck<span *ngIf="marketState > 1"> – {{ market.cards.length + marketDraw.cards.length }} cards</span></p>
	<dom-card-list *ngIf="marketState === 2" [kingdom]="market" [setup]="marketSetup" [selectedCard]="null"></dom-card-list>
	<dom-card-list *ngIf="marketState === 4 || marketState === 5" (selectCard)="selectMarket($event)" [kingdom]="marketDraw" [setup]="marketDrawSetup"></dom-card-list>
</section>
